/* this style will focus on the mobile base of the device:  */
.color-Davy-Grey{
    background-color: #4D5057;

}
.color-hook-green{
    background-color: #4E6E5D;

}
.color-shammrock-green{
    background-color: #4DA167;

}
.color-dark-pastel-green{
    background-color: #3BC14A;

}
.color-timberwolf-grey{
    background-color: #CFCFCF;

}