html{
  background-color: 4DA167;
}
body {
    font-family: 'Merriweather', serif;
    background-color: #4DA167;
    text-align: center;
    margin: 0;
}
header{
    display: block;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    background-color: #4D5057;
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #CFCFCF;
}
header div{
  border: 5px solid #CFCFCF;
  height: min-content;
}

header nav a {
    color: #CFCFCF;
    cursor: pointer;
    background-color: #4D5057;
}
header div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  max-width: 80%;
  height: auto;
  
}

.Concord-logo {
  grid-row: 1;
  grid-column: 2/4;
  width: 100%;
  max-height: 350px;
  z-index: 2;
}

.mountain-img {
  grid-row: 1;
  grid-column: 1/5;
  width: 100%;
  max-height: 350px;
  z-index: 1;
  
}

.button-design{
background-color: #4D5057 ;
border: none;
color: white;
width: 100%;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 0px 0px 5px -40px;
cursor: pointer;
transition: background-color 0.3s;
list-style-type: none;
}

nav ul.menu-dirrectory{
    text-decoration: none;
    list-style: none;
}
ul.menu-dirrectory {
    display: none;
    list-style-type: none;
  }
  
  ul.menu-dirrectory.open {
    display: block;
    z-index: 2;
  }
/* Make sure to include styles for the open state------------------------------------------------------ */

#myBtn::before {
    content: "\2630";
  }
  
  #myBtn.open::before {
    content: none;
  }
  
  #myBtn.open::after {
    content: "X";
    background-color:#4DA167;
  }
  
  #myBtn {
    font-size: 2rem;
    background:none;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: left;
    position: absolute;
    top: 25px;
    right: 0px;

  }
/* start of the main css ---------------------------------------------------------------------------------- */
main{
  margin: 0 auto;
  margin-top: 3em;
  max-width: 90%;
}
.quote-message{
  color: #f0f0f0;
  font-variant: normal;
  background-color: #4D5057;
  border-radius: 100%;
  padding: 85px 0px;
  border: 4px solid #f0f0f0;
}
section h3{
  color: #f0f0f0;
  font-weight: 900;
  text-decoration:solid;
  border-bottom:#f0f0f0 1px solid;
}

.events-container {
    width: 80%;
    height: 20em;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto;
    color: #CFCFCF;
}
.event-container{
    border: 2px solid #CFCFCF; /* Border color for the colored box */
    background-color: #CFCFCF;
    margin-bottom: 8px; /* Spacing between events */
}
.event-container a {
    text-decoration: none;
    color: #4DA167;
 /* Text color for the clickable link */
}

.event-container:hover {
    background-color: #f0f0f0; /* Background color on hover */
}

.framed-imgs{
  width: 300;
  height: auto;
}

.photo-frames{
  width: fit-content;
  border: 8px ridge #f0f0f0;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}
.photo-frames:hover{
  transform: scale(1.1); /* Increase the scale factor for a slight growth effect */
}

.events-section{
  margin-top: 5em;
  border: 5px ridge #f0f0f0;
}


.about-Our-Chamber{
    background-color: #4DA167;
    padding: 10px;
    border: 3px solid #4D5057;
    margin: 0 auto;
    width: 80%;
}
.about-Our-Chamber img{
    width: 100%;
    max-height: fit-content;
}
#calling-Action{
  margin-top: 2em;
  height: 100px;
  background-image: url(../images/hills.jpg);
  background-size: cover; /* This property ensures that the background image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
  color: #fff;
  font-size: 13pt;
  text-align:center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 0.3s;
}
#calling-Action:hover {
  transform: scale(1.1); /* Increase the scale factor for a slight growth effect */
}

#calling-Action h1{
  font-weight: 900;
  font-size: 1.5em;
}

footer {
  color: white;
  font-weight: 800;
  min-height: 200px; /* Change to min-height to allow auto margin to work */
  background-color: #4D5057;
  background-image: url(../images/forest-leaves.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  margin-top: 3em;
  border:5px solid #4D5057;
}
footer div img{
  margin-top: 1em;
  height: 150px;
  width: auto;
}

.foot-div {
  margin-top: 3em;
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Repeat for 3 rows */
}

.foot-div p {
  margin: 0;
}