@media only screen and (min-width: 540px) {
    :root{
        --background-white: rgb(240, 240, 240);
        --color-two: rgb(207, 207, 207);
        --color-one: black;
        --color-three: rgb(77, 80, 87);
        --background-color-primary: rgb(77, 161, 103);
        --hook-green: rgb(78, 110, 93) ;
      }

    header{
        margin: 0 auto;
    }
    header div {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        max-width: 80%;
        min-height: 200px;
        height: auto;
        
    }
    
    .Concord-logo {
        grid-row: 1;
        grid-column: 2/4;
        width: 100%;
        max-height: 350px;
        z-index: 2;
    }
    
    .mountain-img {
        grid-row: 1;
        grid-column: 1/5;
        width: 100%;
        max-height: 350px;
        z-index: 1;
        
    }
    #myBtn {
        display: none;
    }
    nav ul.menu-dirrectory{
        background-color: #4DA167;
        margin: 0 auto;
    }
    ul.menu-dirrectory, ul.menu-dirrectory.open {
        display: flex;
        justify-content:space-evenly;
        width: 100%; /* Make the directory span the entire width */
        padding: 0; /* Remove default padding */
    }
    
    nav ul.menu-dirrectory li a.button-design, nav ul.menu-dirrectory.open li a.button-design {
        padding: 10px 44px; /* Adjust padding for responsiveness */
        width: auto; /* Allow the button width to adjust based on content */
        margin: 0 ; /* Add margin for spacing between buttons */
        margin-top: 1em;
        margin-bottom: .5em;
        text-decoration: none;
        background-color: #4d5057 ;
        color: white;
        cursor: pointer;
        font-size: 20pt;
        border: 3px solid #4d5057;
    
    }
    nav ul.menu-dirrectory li a.button-design:hover, nav ul.menu-dirrectory.open li a.button-design:hover {
        border: 3px solid white;
    }

    .button-design{
        background-color: #4D5057 ;
        border: none;
        font-size: 16px;
        margin: 0;
        cursor: pointer;
        list-style-type: none;
        }

/* ------------------------------I am now starting to code the 3 picture boxes here */
        .photos{
            display: flex;
            justify-content:space-evenly;
            height: 20em;
        }
        .photo-frames:hover{
            transform: scale(1.1); /* Increase the scale factor for a slight growth effect */
          }
        .photo-frames{
            background-color: var(--color-two);
            margin-top: 2em;
            margin-left: 5px;
            margin-right: 5px;
            height: auto;
            width: 200px;
        }
        .framed-imgs{
            width: 150px;
            height: 100px;
          }

          .quote-message {
            color: #f0f0f0;
            font-variant: normal;
            background-color: #4D5057;
            border-radius: 0;
            padding: 85px 0px;
            border: 4px solid #f0f0f0;
          }

            /* --------------------------------------------------------------- */
          main h4{
            text-align:center;
            font-size: 20pt;
          }

          #calling-Action{
    
            margin: 0 auto;
            width: 60%;
            height: auto;
            background-image: url(../images/hills.jpg);
            background-size: cover; /* This property ensures that the background image covers the entire container */
            background-position: center; /* Center the background image */
            background-repeat: no-repeat; 
            color: #fff;
            font-size: 13pt;
            
            padding: 50px;
            background-color: rgba(0, 0, 0, 1);
            cursor: pointer;
            transition: transform 0.3s;
          }
          #calling-Action:hover {
            transform: scale(1.1); /* Increase the scale factor for a slight growth effect */
          }
          
          #calling-Action h1{
            font-weight: 900;
            font-size: 1.5em;
          }
          .chamber-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
          }
          .about-Our-Chamber{
            grid-column: 2/3;
            grid-row: 1;
            padding: 100px 41px;
            background-color: #f0f0f0;
            border: 10px solid #4D5057;
            font-size: 20pt;
            
        }
        .about-Our-Chamber-img{
            padding: 50px 15px;
            grid-column: 1/2;
            grid-row: 1;
            height:auto;
        }
        .events-container {
            display: block;
            margin-top: 1em;
            width: 80%;
            height: 20em;
            overflow: hidden;
            border: 1px solid #ccc;
            margin: 0 auto;
            color: var(--color-two);
        }
        .events-section{
            display: grid;
            margin-top: 0;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 0px 0px;
            margin-bottom: 5em;
        }
        .text-Box{
            grid-row-gap: 2em;
            grid-column: 1/2;
            grid-row: 1/3;
            padding: 30px 0px;
            border: 10px solid #4D5057;
            
        }
        .event-place-holder{
            padding: 50px 15px;
            grid-column: 2/3;
            grid-row: 1;
           
        }
         /*----------- FORM --------------*/
form{
    width: 100%;
  
  }
  .wf1 fieldset{
    padding: .5rem 2%;
    width: 80%;
  }
  
  
  .wf1 label {
     text-align: center;
     margin: 0 auto;
  }
  
  .wf1 div{
     font-size: .9rem;
     text-align: center;
     margin: 0 auto;
  }
  
  .wf1 input[type="text"],
  .wf1 input[type="date"],
  .wf1 input[type="email"],
  .wf1 input[type="number"],
  .wf1 input[type="tel"],
  .wf1 input[type="url"],
  .wf1 textarea,
  .wf1 select {
    margin: 0 auto;
    background-color:#eee;
  }

div.membership-level{
    margin: 0 auto;
    width: 60%;
}
.membership-options {
    display: block;
    margin: 0 auto;
}
.membership-options label {
    text-align: left;
}

}
        /* -------------------------------------here is my discover page edits ------------- */

@media only screen and (min-width: 1235px) {
    
    #discover-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto;
        color: #4D5057;
        width: fit-content;
        height: auto;
    }

    #discover-grid .top {
        grid-column: 1/4;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 10px 0px;
        margin: 0 auto;
        text-align: center;
        height: fit-content;
        margin-bottom: 3em;
    }

    #discover-grid .left-side {
        grid-column: 1;
        grid-row: 2 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        margin: 0 auto;
        margin-left: 2em;
    }

    #discover-grid .right-side {
        grid-column: 2/5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto;
        height: fit-content;
    }
    #discover-grid .right-side picture img{
        margin-top: 3em;
        border: 2px solid #4E6E5D;
        background-color: #4DA167;
    }
    .bottom {
        margin-top: 2em;
    }

    #discover-grid h2 {
        text-align: center;
        background-color: #CFCFCF;
    }

    .bottom:hover span {
        opacity: 1;
    }

    .bottom span{
        font-size: 30pt;
    }
  
}
