@media only screen and (min-width: 640px) {
    
    header{
        border: 2px groove rgb(188, 35, 202);
    }
    nav ul {
		display: flex;
        align-items: center;
        border: 5px double rgb(188, 35, 202);
        
	}
	nav ul li {
		flex: 1 1 100%;
	}
    #myBtn{
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover{
        text-decoration:underline;
        background-color: rgb(188, 35, 202)
    }
    nav ul.menuLinks li a.current-menu-item, nav ul.menuLinks.open li a.current-menu-item{
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        background-color: #85138F;
        color: white; 
        cursor: pointer;
    }

    main{
        height: auto;
    }

    .home_container {
        background-color: rgb(131, 212, 212);
        color: #eee;
        height: auto;
    }
    .grid_container{
        display: grid;
        height: 10em;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
       
    }
    .link{
        display: inline-block;
        padding: 2em 3em;
        text-align: center;
        text-decoration: none;
        background-color: #000000; 
        color: white; 
        cursor: pointer;
    }

     /* css for the body is below  */
    .title{
        font-size: 8pt;
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 2px;
        padding-right: 2px;
      }
      .profile-picture {
        width: 150px;
        height: 150px;
        grid-column: 1; 
        margin: auto; 
        border-radius: 30px;
        padding: 3px 4px;
        background-color: #eee;
        border: 3px solid #000000;
    }
      .Homepage-Name {
        margin: auto;
        text-align: center;
        font-size: 3em;
        font-style:italic;
        font-weight: 800;
        grid-row: 1;
        grid-column: 2/4;
        font-family: 'Lato', sans-serif;
        border: 3px solid #000000;
        border-radius: 50px;
        background-color: #b5c4ff;
        padding: 10px;

        }

    .title{
            font-size: 1em;
            font-family: 'Lato', sans-serif;
            text-align: center;
            margin: 0px 0px 0px 0px;
            padding-left: 2px;
            padding-right: 2px;
        }
        .title h1{
            border-bottom:rgb(188, 35, 202) 2px solid;
        }
        .flex-container{
            display: flex;
            flex-direction: row;
        }
        .card{
            margin-left: 4em;
            margin-right: 4em;
            width: 1000px;
            height: auto;   
        }
        .container{
            min-height: 200px; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .blue_div{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
        }
        footer {
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr 1fr;   
        }
        
        footer div{
            display: inline-flex;
            grid-column: 1/3;
            grid-row: 1;
            justify-content: center;
        }
        footer p{
            grid-column: 1/3;
            grid-row: 2;
        }
        footer h3{
            margin-left: 16px;
            font-size: 30pt;
        }
        
        .usa-photo{
            margin: auto 0;
            margin-left: 20px;
            width: 70px;
            border: 1px solid #000000;
            border-radius: 100%;
        }


}